.container {
  height: calc(100vh - 306px);
  overflow-y: auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.img_cover {
  // border-radius: 5% 45% 10% 30%;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}
