$color-main-bg: #fffadf;
$color-main-accent-bg: #fef9d3;
$color-main-sub: #8f9435;
$color-main-text: #5f9435;
$color-main-text-accent: #614020;
$color-main-marker: #c3d7e4;
$color-scroll-bg: #c6ad86;
$color-scroll-cursor: #5a5a5a;
$color-label: #414040;
$color-hover-shadow: #487e3a;
$color-link-bg: #efefef;
$color-link: #41403e;

$color-main-bg-d: #2d2c22;
$color-main-accent-bg-d: #191919;
$color-main-sub-d: #f4dcab;
$color-main-text-d: #eec7bb;
$color-main-text-accent-d: #d8320b;
$color-main-marker-d: #1e7dca;
$color-scroll-bg-d: #000000;
$color-scroll-cursor-d: #1d1d1d;
$color-label-d: #000000;
$color-hover-shadow-d: #000000;
$color-link-bg-d: #7d6c69;
$color-link-d: #ffffff;

// $color-main-bg-d: $color-main-bg;
// $color-main-accent-bg-d: $color-main-accent-bg;
// $color-main-sub-d: $color-main-sub;
// $color-main-text-d: $color-main-text;
// $color-main-text-accent-d: $color-main-text-accent;
// $color-main-marker-d: $color-main-marker;
// $color-scroll-bg-d: $color-scroll-bg;
// $color-scroll-cursor-d: $color-scroll-cursor;
// $color-label-d: $color-label;
// $color-hover-shadow-d: $color-hover-shadow;
// $color-link-bg-d: $color-link-bg;
// $color-link-d: $color-link;
