$color-main-bg: #fffadf;
$color-main-accent-bg: #fef9d3;
$color-main-sub: #8f9435;
$color-main-text: #5f9435;
$color-main-text-accent: #614020;
$color-main-marker: #b0dcfa;

$color-main-bg-d: #2d2c22;
$color-main-accent-bg-d: #191919;
$color-main-sub-d: #f4dcab;
$color-main-text-d: #eec7bb;
$color-main-text-accent-d: #d8320b;
$color-main-marker-d: #1e7dca;
