.container {
  height: calc(100vh - 306px);
  overflow-y: auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.img_cover {
  border-radius: 5% 45% 10% 30%;
}
