@import "_variables.scss";

.container {
  height: calc(100vh - 306px);
  overflow-y: scroll;
  text-align: center;
  width: 100%;
}

.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgb(226, 226, 226, 1);
}

.container::-webkit-scrollbar-thumb {
  background: #5a5a5a;
  border-radius: 5px;
}

.card {
  margin: 10px;
  cursor: pointer;
}

.card_main {
  background-color: red;
  color: red;
}

.icon {
  transform: scale(1.5);
  margin: 0 10px;
}

.svg_icon {
  width: 45px;
}

.card_link_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.card_link {
  cursor: pointer;
  font-weight: 700;
  margin: 10px 0;
}

.card_link:hover {
  color: #02a9ff;
  text-decoration: underline;
}

.post_title {
  margin: 0;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading_main>label {
  color: $color-main-text;
}

.loading_main>span>i {
  background-color: $color-main-text;
}

.load_button_part {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.load_button_part>button {
  background-color: $color-main-text;
}

.genre_part {
  background: $color-main-marker;
  color: $color-main-bg;
  padding: 0.4em;
  border-radius: 0.4em;
  margin: 7px 10px;
  transform: rotate(-1deg);
  width: fit-content;
  font-weight: 600;
}

.genre_part:before {
  content: 'â—';
  color: $color-main-bg;
  margin-right: 8px;
}

@media (prefers-color-scheme: dark) {
  .container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 1);
  }

  .container::-webkit-scrollbar-thumb {
    background: #1d1d1d;
  }

  .loading_main>label {
    color: $color-main-text-d;
  }

  .loading_main>span>i {
    background-color: $color-main-text-d;
  }

  .genre_part {
    background-color: $color-main-marker-d;
    color: $color-main-bg-d;
  }

  .genre_part:before {
    color: $color-main-bg-d;
  }
}